jobs:
- job: 'Ubuntu_2004'
  pool:
    vmImage: 'ubuntu-20.04'

  steps:
  - template: azure-pipelines-steps.yml

- job: 'Ubuntu_2204'
  pool:
    vmImage: 'ubuntu-22.04'

  steps:
  - template: azure-pipelines-steps.yml

- job: 'Windows_2022'
  pool:
    vmImage: 'windows-2022'

  steps:
  - template: azure-pipelines-steps.yml

  - script: npm pack
    displayName: 'npm pack'
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))

  - task: CopyFiles@2
    inputs:
      sourceFolder: '$(Build.SourcesDirectory)'
      contents: |
        '*.tgz'
        'package.json'
      targetFolder: $(Build.ArtifactStagingDirectory)
    displayName: 'Copy npm package to staging'
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))

  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: npm
    displayName: 'Publish npm artifact'
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))

- job: 'MacOS_11'
  pool:
    vmImage: 'macOS-11'

  steps:
  - template: azure-pipelines-steps.yml

- job: 'MacOS_12'
  pool:
    vmImage: 'macOS-12'

  steps:
  - template: azure-pipelines-steps.yml
