# This Yaml Document has been converted by ESAI Yaml Pipeline Conversion Tool.
# This pipeline will be extended to the OneESPT template

resources:
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release
extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    sdl:
      sourceAnalysisPool:
        name: 1ES-ABTT-Shared-Pool
        image: abtt-windows-2022
        os: windows
    customBuildTags:
    - ES365AIMigrationTooling
    stages:
    - stage: stage
      jobs:
      - job: 'Ubuntu_2204'
        pool:
          name: 1ES-ABTT-Shared-Pool
          image: abtt-ubuntu-2204
          os: linux
        steps:
        - template: /azure-pipelines-steps.yml@self
      - job: 'MacOS_12'
        pool:
          name: Azure Pipelines
          image: macOS-latest
          os: macOS
        steps:
        - template: /azure-pipelines-steps.yml@self
      - job: 'Windows_2022'
        pool:
          name: 1ES-ABTT-Shared-Pool
          image: abtt-windows-2022
          os: windows
        templateContext:
          outputs:
          - output: pipelineArtifact
            targetPath: '_build'
            artifactType: 'pipeline'
            artifactName: 'npm-package'
          - output: pipelineArtifact
            displayName: 'Publish npm artifact'
            condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
            targetPath: '$(Build.ArtifactStagingDirectory)'
            artifactName: npm
        steps:
        - template: /azure-pipelines-steps.yml@self