# Common steps template
# Shared build steps used across CI and release pipelines
parameters:
- name: includePackaging

steps:
  - checkout: self
    clean: true

  - task: NodeTool@0
    displayName: Use Node 16
    inputs:
      versionSpec: "16.15.1"

  - task: NpmAuthenticate@0
    inputs:
      workingFile: .npmrc

  - script: npm install
    displayName: 'npm install'

  - script: npm run build
    displayName: 'npm run build'

  - script: npm test
    displayName: 'npm test'

  - task: PublishCodeCoverageResults@1
    displayName: Publish Code Coverage Results
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: '$(System.DefaultWorkingDirectory)/coverage/cobertura-coverage.xml'
      reportDirectory: '$(System.DefaultWorkingDirectory)/coverage/lcov-report'
      pathToSources: 'src'
  
  # Generate a pipeline artifact so we can publish the package manually if there are issues with automation
  - script: |
      npm pack
      cp *.tgz '$(Build.ArtifactStagingDirectory)'
      cp package.json '$(Build.ArtifactStagingDirectory)'
    displayName: Run npm-pack and copy to ArtifactStagingDirectory
    condition: eq('${{ parameters.includePackaging }}', 'true')
